﻿
    <div class="wrapper">
                    <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Cuentas Contables</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Cuenta</th>
                                                <th>Descripción</th>
                                                <th>Año(s)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>10</td>
                                                <td>
                                                    EFECTIVO Y EQUIVALENTES DE EFECTIVO
                                                </td>
                                                <td>2019 | 2020 | 2021</td>
                                            </tr>
                                            <tr>
                                                <td>11</td>
                                                <td>
                                                    INVERSIONES FINANCIERAS
                                                </td>
                                                <td>2019</td>
                                            </tr>
                                            <tr>
                                                <td>12</td>
                                                <td>
                                                    CUENTAS POR COBRAR COMERCIALES – TERCEROS
                                                </td>
                                                <td>2019 | 2020 | 2021</td>
                                            </tr>
                                            <tr>
                                                <td>13</td>
                                                <td>
                                                    CUENTAS POR COBRAR COMERCIALES – RELACIONADAS
                                                </td>
                                                <td>2019</td>
                                            </tr>
                                            <tr>
                                                <td>14</td>
                                                <td>
                                                    CUENTAS POR COBRAR AL PERSONAL, A LOS ACCIONISTAS (SOCIOS)
                                                    Y DIRECTORES
                                                </td>
                                                <td>2019 | 2020 | 2021</td>
                                            </tr>
                                            <tr>
                                                <td>16</td>
                                                <td>
                                                    CUENTAS POR COBRAR DIVERSAS – TERCEROS
                                                </td>
                                                <td>2019</td>
                                            </tr>
                                            <tr>
                                                <td>17</td>
                                                <td>
                                                    CUENTAS POR COBRAR DIVERSAS – RELACIONADAS
                                                </td>
                                                <td>2019 | 2020 | 2021</td>
                                            </tr>
                                            <tr>
                                                <td>18</td>
                                                <td>
                                                    SERVICIOS Y OTROS CONTRATADOS POR ANTICIPADO
                                                </td>
                                                <td>2019</td>
                                            </tr>
                                            <tr>
                                                <td>19</td>
                                                <td>
                                                    ESTIMACIÓN DE CUENTAS DE COBRANZA DUDOSA
                                                </td>
                                                <td>2019</td>
                                            </tr>
                                            <tr>
                                                <td>20</td>
                                                <td>
                                                    MERCADERÍAS
                                                </td>
                                                <td>2019</td>
                                            </tr>
                                            <tr>
                                                <td>21</td>
                                                <td>
                                                    PRODUCTOS TERMINADOS
                                                </td>
                                                <td>2019</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    <!-- ./wrapper -->
   
   